<!DOCTYPE html>
<html style="background: rgb(239, 149, 13);color: rgb(239, 149, 13);text-shadow: 0px 0px var(--bs-purple), 0px 0px;border-color: rgb(205,205,205);border-left-color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">


    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome5-overrides.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>

<body class="bg-gradient-primary" style="background: rgb(255,255,255);box-shadow: 0px 0px 13px 6px rgb(146,146,146);">
    <div class="container" style="background: rgb(255,255,255);">
        <div class="row justify-content-center" style="background: rgb(255,255,255);">
            <div class="col-md-9 col-lg-12 col-xl-10" style="background: rgb(255,255,255);">
                <div class="card shadow-lg o-hidden border-0 my-5" style="background: rgb(205,205,205);">
                    <div class="card-body p-0">
                        <div class="row" style="background: rgb(205,205,205);">
                            <div class="col-lg-6" style="background: rgb(255,255,255);">
                                <div class="p-5" style="background: rgb(255,255,255);color: rgb(239, 149, 13);">
                                    <h2 class="text-center" style="color: rgb(239, 149, 13);font-family: 'Abril Fatface', serif;font-family: 'Abril Fatface', serif;">Welcome Back ! ! !</h2>
                                    <div class="text-center" style="background: rgb(205,205,205);"></div>
                                    <form th:action="@{/user/login}" method="post">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" aria-describedby="username help" placeholder="Username..." name="username" style="font-family: 'Abril Fatface', serif;"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password"  placeholder="Password..." name="password" style="font-family: 'Abril Fatface', serif;"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: rgb(239, 149, 13);font-family: 'Abril Fatface', serif;">Login</button>
                                        <hr>
                                    </form>
                                    <div class="text-center" style="font-family: 'Abril Fatface', serif;"><a class="small" href="register">Create an Account!</a></div>
                                </div>
                            </div>
                            <div class="col" style="margin: 0;padding: 0;background: #ffffff;"><img class="img-fluid" th:src="@{/img/flag.gif}" style="margin: 0;padding: 0;">
                                <figure class="figure">
                                    <figcaption class="figure-caption">myCourseApp by bugMaker</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.min.js}"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
</body>

</html>